.btn, 
button 
{
    cursor: pointer;
}

.menu-btn 
{
    * 
    {
        pointer-events: none;
    }
}

.filled-button
{
    @apply
    h-12
    px-4
    flex
    items-center
    justify-center
    bg-blue-200
    text-blue-800
    font-medium
    rounded-md
    transition

    hover:bg-blue-300
}